# .gitignore

# project specific
/resources/public/js/compiled/

# logs
*.log

# clojure
*.jar
*.class
/target
/.nrepl*
/.cljs*

# leiningen
/.lein*

# emacs
*~
\#*\#
.\#*

# silly Mac filesystems
*.DS_Store*
*._*
